In [1]:
import pandas as pd
import numpy as np

C:\Users\HP\AppData\Local\Temp\ipykernel_7576\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
file3=pd.read_csv("D:\IPL_WinPrediction\IPL_Team.csv")
file3.head()

,TeamID,Team,Home ground,City,Debut,Total plays,Wins,Lost,Tied,Tie + W,Tie + L,No Result,Winning Percentage,Total title wins,No. of seasons played,Captain,Head coach,Highest score
0,1,Chennai Super Kings,M. A. Chidambaram Stadium,"Chennai, Tamil Nadu",2008,209,121,86,0,0,1,1,58.41,4,13,M. S. Dhoni,Stephen Fleming,246
1,2,Delhi Capitals,Arun Jaitley Stadium,"New Delhi, Delhi",2008,224,100,118,0,3,1,2,45.94,0,15,Rishabh Pant,Ricky Ponting,231
2,3,Gujarat Titans,Narendra Modi Stadium,"Ahmedabad, Gujarat",2022,16,12,4,0,0,0,0,75.00,1,1,Hardik Pandya,Ashish Nehra,199
3,4,Kolkata Knight Riders,Eden Gardens,"Kolkata, West Bengal",2008,223,113,106,0,1,3,0,51.56,2,15,Shreyas Iyer,Brendon McCullum,245
4,5,Lucknow Super Giants,BRSABV Ekana Cricket Stadium,"Lucknow, Uttar Pradesh",2022,15,9,6,0,0,0,0,60.00,0,1,KL Rahul,Andy Flower,211

In [3]:
team_perfo = file3[['TeamID','Team','City','Winning Percentage']].copy()
team_perfo

,TeamID,Team,City,Winning Percentage
0,1,Chennai Super Kings,"Chennai, Tamil Nadu",58.41
1,2,Delhi Capitals,"New Delhi, Delhi",45.94
2,3,Gujarat Titans,"Ahmedabad, Gujarat",75.00
3,4,Kolkata Knight Riders,"Kolkata, West Bengal",51.56
4,5,Lucknow Super Giants,"Lucknow, Uttar Pradesh",60.00
5,6,Mumbai Indians,"Mumbai, Maharashtra",56.70
6,7,Punjab Kings,"Mohali, Punjab",45.87
7,8,Rajasthan Royals,"Jaipur, Rajasthan",50.26
8,9,Royal Challengers Bangalore,"Bangalore, Karnataka",48.65
9,10,Sunrisers Hyderabad,"Hyderabad, Telangana",50.00
10,11,Kochi Tuskers Kerala,"Indore, Madhya Pradesh",51.12
11,12,Pune Warriors,"Pune, Maharashtra",36.00

In [4]:
team_perfo.rename(columns={'City': 'HomeGround','Winning Percentage': 'WinningPercentage'}, inplace=True)

In [5]:
team_perfo['HomeGround'].unique()

array(['Chennai, Tamil Nadu', 'New Delhi, Delhi', 'Ahmedabad, Gujarat',
       'Kolkata, West Bengal', 'Lucknow, Uttar Pradesh',
       'Mumbai, Maharashtra', 'Mohali, Punjab', 'Jaipur, Rajasthan',
       'Bangalore, Karnataka', 'Hyderabad, Telangana',
       'Indore, Madhya Pradesh', 'Pune, Maharashtra'], dtype=object)

In [6]:
team_perfo.loc[team_perfo['HomeGround'].isin(['Chennai, Tamil Nadu']),'HomeGround'] = 'Chennai'
team_perfo.loc[team_perfo['HomeGround'].isin(['New Delhi, Delhi']),'HomeGround'] = 'Delhi'
team_perfo.loc[team_perfo['HomeGround'].isin(['Ahmedabad, Gujarat']),'HomeGround'] = 'Ahmedabad'
team_perfo.loc[team_perfo['HomeGround'].isin(['Kolkata, West Bengal']),'HomeGround'] = 'Kolkata'
team_perfo.loc[team_perfo['HomeGround'].isin(['Lucknow, Uttar Pradesh']),'HomeGround'] = 'Lucknow'
team_perfo.loc[team_perfo['HomeGround'].isin(['Mumbai, Maharashtra']),'HomeGround'] = 'Mumbai'
team_perfo.loc[team_perfo['HomeGround'].isin(['Mohali, Punjab']),'HomeGround'] = 'Punjab'
team_perfo.loc[team_perfo['HomeGround'].isin(['Jaipur, Rajasthan']),'HomeGround'] = 'Jaipur'
team_perfo.loc[team_perfo['HomeGround'].isin(['Bangalore, Karnataka']),'HomeGround'] = 'Bangalore'
team_perfo.loc[team_perfo['HomeGround'].isin(['Hyderabad, Telangana']),'HomeGround'] = 'Hyderabad'
team_perfo.loc[team_perfo['HomeGround'].isin(['Indore, Madhya Pradesh']),'HomeGround'] = 'Indore'
team_perfo.loc[team_perfo['HomeGround'].isin(['Pune, Maharashtra']),'HomeGround'] = 'Pune'

In [7]:
team_perfo['HomeGround'].unique()

array(['Chennai', 'Delhi', 'Ahmedabad', 'Kolkata', 'Lucknow', 'Mumbai',
       'Punjab', 'Jaipur', 'Bangalore', 'Hyderabad', 'Indore', 'Pune'],
      dtype=object)

In [8]:
team_perfo

    TeamID                         Team HomeGround  WinningPercentage
0        1          Chennai Super Kings    Chennai              58.41
1        2               Delhi Capitals      Delhi              45.94
2        3               Gujarat Titans  Ahmedabad              75.00
3        4        Kolkata Knight Riders    Kolkata              51.56
4        5         Lucknow Super Giants    Lucknow              60.00
5        6               Mumbai Indians     Mumbai              56.70
6        7                 Punjab Kings     Punjab              45.87
7        8             Rajasthan Royals     Jaipur              50.26
8        9  Royal Challengers Bangalore  Bangalore              48.65
9       10          Sunrisers Hyderabad  Hyderabad              50.00
10      11         Kochi Tuskers Kerala     Indore              51.12
11      12                Pune Warriors       Pune              36.00

In [9]:
team_perfo.to_csv("D:\IPL_WinPrediction\IPL_TeamPerformance.csv",index=False)